<h1>Stupid Coaching</h1>

<form action='/answer'>
  <input type="text" name="pergunte" placeholder='Digite sua pergunta aqui' value="<%= params[:pergunta] %>">
  <input type='submit' value='ask'>
</form>

